 @reference "tailwindcss";

 
 #about {
        @apply min-h-screen py-28 2xl:px-0 px-5 container mx-auto;

        .content {
            @apply grid grid-cols-1 lg:grid-cols-12 gap-5;

            h2 {
                @apply text-5xl max-sm:text-4xl md:text-6xl  max-w-lg;
            }

            .sub-content {
                @apply md:col-span-4 space-y-5 flex flex-col justify-between;

                p {
                    @apply text-base;
                }

                div {
                    @apply flex flex-col justify-between md:gap-2 gap-5;

                    span {
                        @apply  font-bold text-3xl;
                    }
                }
            }
        }

        .badge {
            @apply inline-block rounded-full bg-white text-black px-4 py-2 text-sm font-medium mb-8;
        }

        .top-grid {
            @apply grid grid-cols-1 xl:grid-cols-12 gap-5 mb-5 md:px-0 px-5;

            > div {
                @apply rounded-3xl overflow-hidden h-72 relative;
            }

            img {
                @apply object-cover w-full h-full;
            }
        }

        .bottom-grid {
            @apply grid grid-cols-1 md:grid-cols-12 gap-5 md:px-0 px-5;

            > div {
                @apply rounded-3xl overflow-hidden h-72 relative;
            }

            img {
                @apply object-cover w-full h-full;
            }
        }
    }

.purple-purse-regular {
  font-family: "Purple Purse", serif;
  font-weight: 0;
  
  
}

