
.hero-title {
  font-size: 4rem;
  font-weight: 500;
  font-family: 'Purple Purse', serif;
  letter-spacing: -1px;
  margin-left: 0rem;
  z-index: 3;
  color: rgb(68, 93, 116);
}

.hero-rotating-text {
  height: 2.5rem;
  margin-left: 0rem;
  z-index: 3;
}

.rotating-word {
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  font-weight: 600;
  color: #000000;
  animation: rotateWords 8s infinite;
  opacity: 0;
   z-index: 3;
}

@keyframes rotateWords {
  0%, 100% {
    opacity: 0;
    transform: translate(-50%, 20px);
  }
  10%, 25% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
  35%, 90% {
    opacity: 0;
    transform: translate(-50%, -20px);
  }
}
