
.hero-section {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  top: 0; 
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  z-index: 1;
  margin-left: 0;
  border-radius: 0%;
  justify-content: center;
  align-items: center;
}


