.wave-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;              
  height: 100%;             
  background: linear-gradient(135deg, #111, #1e1e1e);
  display: flex;
  justify-content: center;   
  align-items: center;      
  z-index: 1200;
  overflow: hidden;
}

.wave-links {
  list-style: none;
  text-align: center;
  position: relative;
  z-index: 2; 
}

.wave-links li {
  margin: 20px 0;
}

.wave-links a {
  font-size: 2rem;
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
}

.wave-links a:hover {
  color: lightseagreen;
  letter-spacing: 2px;
}

.wave-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; 
  cursor: pointer;
}

.menu-icon {
  font-size: 1.8rem;
  cursor: pointer;
  color: #ececec;
  transition: transform 0.2s;
  margin-left: 10px ;
  z-index: 3;
}

.menu-icon:hover {
  transform: scale(1.2);
  cursor: pointer;
}
 

